.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 317px;
    height: 720px;
    background-color: #fff;
    z-index: 20;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

}

.sidebar.open {
    transform: translateX(0);
}

.background {
    /*border: #0066CC solid 1px;*/
    position: absolute;
    width: 1280px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.4);
}


.nav {
    margin-top: 50px;;
}

.nav a {
    /*border: #cc9c00 solid 1px;*/
    text-decoration: none;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    line-height: 100%;
    color: #000;
    display: block;
    transition: color 0.2s;
    font-weight: bold;
    margin-bottom: 25px;
}

.nav a:hover {
 color: #58ACFF;
}
.nav a:active {
    color: #0059B2;
}

.nav a.active {
    background-color: white;
}
.close {
    /*background-color: white;*/
    position: relative;
    margin-left: 269px;
}

.close img {
    background-color: white;
    border: none;
    outline: none;
}
