.friendMessage {
    margin: 50px;
    float: left;
    justify-content: flex-start;
    top: 100px;

}

.friendImageAndText {

}

.friendImageAndText img {
    float: left;
    height: 48px;
    width: 48px;
    margin-right: 5px;
}

.friendText {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cacacc;
    float: left;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    bottom: 10px;
}

.friendText:after {
    content: "";
    position: relative;
    right: 15px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #cacacc;
    margin-bottom:-10px ;
}

.friendName {
    padding: 2px;
    /*border: #5ea9fa solid 1px;*/
}

.friendMessageText {
    padding: 7px;
    max-width: min-content;
    float: left;
    border-radius: 15px;
    background-color: #cacacc;
    position: relative;


}

.friendTime {
    font-family: 'Montserrat', sans-serif;
    width: 26px;
    color: #000000;
    float: initial;
    font-size: 10px;
    position: relative;
    left: 10px;
    bottom: 20px;
    /*border: #212A34 solid 1px;*/
}
