.greetingForm {
    /*border: #00cc22 solid 1px;*/
    margin-left: 60px;
}

.inputAndButtonContainer {
    /*border: #cc0000 solid 1px;*/
    position: static;
}

.error {
    color: #cc0000;
    /*border: yellow solid 1px;*/
    position: absolute;
    margin-right: 900px;

}

.input {
}

.input:focus {
}

.errorInput {

}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {

}

.text {
    margin-left: -20px;
    margin-bottom: 10px;
}

.greeting {
    position: relative;
    bottom: 20px;
    margin-left: -20px;
    /*border: #0080FF solid 1px;*/
}
