.greetingForm {
    margin-left: 60px;
}

.inputAndButtonContainer {
    position: static;
}

.error {
    color: #cc0000;
    position: absolute;
    margin-right: 900px;

}

.input {
}

.input:focus {
}

.errorInput{
 border: #cc0000 solid 1px;
}

.button {
}

.button:focus {
}

.button:active {
}

.button:disabled {
color: #6babed;
}

.text {
    margin-left: -20px;
    margin-bottom: 10px;
}

.greeting {
    position: relative;
    bottom: 20px;
    margin-left: -20px;
    /*border: #0080FF solid 1px;*/
}
