.sendForm {

}

.textarea {
margin-left: 30px;
    padding: 10px;
    min-width: 1090px;
    min-height: 40px;
    border-radius: 20px;
    background-color: #F5F7FB;
    resize: none;
    overflow: hidden;

}

.button {

    height: 40px;
    width: 120px;
    margin: 20px;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 25px;
    border: 1px;
    border-radius: 50px;
    color: white;
    background-color: #0066CC;
    cursor: pointer;
    position: relative;
    bottom: 15px;


}

.button:hover {

}
.button:active {

}
